In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# # Drop the additional columnss, 'SPECIAL_CONSIDERATIONS' and "AFFILIATION".
application_df = application_df.drop(['STATUS', 'INCOME_AMT'], axis=1)
# application_df.head()

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced...choosing a different value of 1000 for optimization, compared to initial attempt in funding_decision.ipynb
# use the variable name `application_types_to_replace`
# Chose cutoff value 500
application_types_uncommon = list(app_type_counts[app_type_counts < 25].index)

# Replace in dataframe
for app in application_types_uncommon:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"other")
# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
other       27
T12         27
Name: count, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
#choosing a different value of 2000 for optimization, compared to initial attempt in funding_decision.ipynb
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 50].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: count, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
columns_to_encode = ['APPLICATION_TYPE', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'AFFILIATION', 'SPECIAL_CONSIDERATIONS']
app_dummies = pd.get_dummies(application_df, columns=columns_to_encode, dtype=int)
app_dummies.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,ORGANIZATION_Corporation,ORGANIZATION_Trust,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,108590,1,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,5000,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,1,0
3,6692,1,0,0,0,0,1,0,0,0,...,0,1,1,0,0,0,0,0,1,0
4,142590,1,0,0,0,0,1,0,0,0,...,0,1,0,0,1,0,0,0,1,0

In [ ]:
app_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 47 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ASK_AMT                       34299 non-null  int64
 1   IS_SUCCESSFUL                 34299 non-null  int64
 2   APPLICATION_TYPE_T10          34299 non-null  int64
 3   APPLICATION_TYPE_T12          34299 non-null  int64
 4   APPLICATION_TYPE_T13          34299 non-null  int64
 5   APPLICATION_TYPE_T19          34299 non-null  int64
 6   APPLICATION_TYPE_T3           34299 non-null  int64
 7   APPLICATION_TYPE_T4           34299 non-null  int64
 8   APPLICATION_TYPE_T5           34299 non-null  int64
 9   APPLICATION_TYPE_T6           34299 non-null  int64
 10  APPLICATION_TYPE_T7           34299 non-null  int64
 11  APPLICATION_TYPE_T8           34299 non-null  int64
 12  APPLICATION_TYPE_T9           34299 non-null  int64
 13  APPLICATION_TYPE_other        34299 non-null  int64
 14  CLASSIFICATION_C1000          34299 non-null  int64
 15  CLASSIFICATION_C1200          34299 non-null  int64
 16  CLASSIFICATION_C1270          34299 non-null  int64
 17  CLASSIFICATION_C1280          34299 non-null  int64
 18  CLASSIFICATION_C1300          34299 non-null  int64
 19  CLASSIFICATION_C1700          34299 non-null  int64
 20  CLASSIFICATION_C2000          34299 non-null  int64
 21  CLASSIFICATION_C2100          34299 non-null  int64
 22  CLASSIFICATION_C2700          34299 non-null  int64
 23  CLASSIFICATION_C2800          34299 non-null  int64
 24  CLASSIFICATION_C3000          34299 non-null  int64
 25  CLASSIFICATION_C4000          34299 non-null  int64
 26  CLASSIFICATION_C5000          34299 non-null  int64
 27  CLASSIFICATION_C7000          34299 non-null  int64
 28  CLASSIFICATION_C7100          34299 non-null  int64
 29  CLASSIFICATION_Other          34299 non-null  int64
 30  USE_CASE_CommunityServ        34299 non-null  int64
 31  USE_CASE_Heathcare            34299 non-null  int64
 32  USE_CASE_Other                34299 non-null  int64
 33  USE_CASE_Preservation         34299 non-null  int64
 34  USE_CASE_ProductDev           34299 non-null  int64
 35  ORGANIZATION_Association      34299 non-null  int64
 36  ORGANIZATION_Co-operative     34299 non-null  int64
 37  ORGANIZATION_Corporation      34299 non-null  int64
 38  ORGANIZATION_Trust            34299 non-null  int64
 39  AFFILIATION_CompanySponsored  34299 non-null  int64
 40  AFFILIATION_Family/Parent     34299 non-null  int64
 41  AFFILIATION_Independent       34299 non-null  int64
 42  AFFILIATION_National          34299 non-null  int64
 43  AFFILIATION_Other             34299 non-null  int64
 44  AFFILIATION_Regional          34299 non-null  int64
 45  SPECIAL_CONSIDERATIONS_N      34299 non-null  int64
 46  SPECIAL_CONSIDERATIONS_Y      34299 non-null  int64
dtypes: int64(47)
memory usage: 12.3 MB

In [ ]:
# Split our preprocessed data into our features and target arrays
X = app_dummies.drop(['IS_SUCCESSFUL'], axis=1).values
y = app_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [ ]:
# Define the optimized model- deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  80
hidden_nodes_layer2 = 60
hidden_nodes_layer3 = 40
hidden_nodes_layer4 = 10

nn_1 = tf.keras.models.Sequential()

# First hidden layer
nn_1.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="gelu")
)
# Second hidden layer
nn_1.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="gelu"))
#third hidden layer
nn_1.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="gelu"))
nn_1.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="gelu"))
# Output layer
nn_1.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 80)                3760

 dense_6 (Dense)             (None, 60)                4860

 dense_7 (Dense)             (None, 60)                3660

 dense_8 (Dense)             (None, 40)                2440

 dense_9 (Dense)             (None, 1)                 41

=================================================================
Total params: 14761 (57.66 KB)
Trainable params: 14761 (57.66 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the second model
nn_1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the second model
fit_model = nn_1.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5720 - accuracy: 0.7198
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5592 - accuracy: 0.7264
Epoch 3/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5576 - accuracy: 0.7264
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7283
Epoch 5/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5558 - accuracy: 0.7280
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5548 - accuracy: 0.7285
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5542 - accuracy: 0.7292
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7293
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5526 - accuracy: 0.7294
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5525 - accuracy: 0.7299
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5515 - accuracy: 0.7295
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5519 - accuracy: 0.7306
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5512 - accuracy: 0.7308
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - accuracy: 0.7321
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7317
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7336
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - accuracy: 0.7315
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5488 - accuracy: 0.7329
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5491 - accuracy: 0.7329
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5483 - accuracy: 0.7327
Epoch 21/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5481 - accuracy: 0.7332
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7332
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - accuracy: 0.7340
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7335
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5469 - accuracy: 0.7344
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - accuracy: 0.7336
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7339
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7332
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7339
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7335
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7343
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7341
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7340
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7343
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5456 - accuracy: 0.7345
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5452 - accuracy: 0.7346
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7338
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - accuracy: 0.7345
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - accuracy: 0.7357
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5452 - accuracy: 0.7341
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7344
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5446 - accuracy: 0.7347
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5450 - accuracy: 0.7352
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5451 - accuracy: 0.7339
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7353
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7342
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - accuracy: 0.7353
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7352
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7356
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7354
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5442 - accuracy: 0.7348
Epoch 52/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5441 - accuracy: 0.7350
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7350
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7353
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7365
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7353
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7357
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7353
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5435 - accuracy: 0.7355
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7362
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7358
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7359
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7352
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7345
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - accuracy: 0.7354
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7361
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5433 - accuracy: 0.7362
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7362
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7359
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7360
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7351
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - accuracy: 0.7358
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7352
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7357
Epoch 75/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5428 - accuracy: 0.7358
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7360
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7355
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7364
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7369
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7358
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7358
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5428 - accuracy: 0.7360
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7364
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5432 - accuracy: 0.7363
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7365
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7356
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7361
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7360
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7362
Epoch 90/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5429 - accuracy: 0.7352
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7364
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7363
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7368
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - accuracy: 0.7366
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7358
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7359
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7358
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - accuracy: 0.7356
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7364
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - accuracy: 0.7363

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_1.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5553 - accuracy: 0.7290 - 484ms/epoch - 2ms/step
Loss: 0.5552806258201599, Accuracy: 0.7289795875549316